{% extends 'base.html.twig' %}

{% block title %}HandiStanciel{% endblock %}

{% block banniere %}

    <img src="/assets/img/BannerAccueil.png" class="img-fluid" alt="Responsive image">

{% endblock %}

{% block citation %}
    <figure class="text-center">
        <blockquote class="blockquote">
            <p class="mb-0">HandiStanciel l'accompagnement en milieu professionnel</p>

        </blockquote>
        <figcaption class="blockquote-footer">
            Retrouvez ici la liste des articles
			 {# <cite title="Source Title">Source Title</cite> #}
        </figcaption>
    </figure>
{% endblock %}

{% block petiteCard %}
	<div class="row">
		{% for article in articles %}

			{% if loop.first %}
				<div class="card text-center">
					<div
						class="card-header">{# Featured #}
					</div>
					<div class="card-body">
						<h5 class="card-title">{{ article.title }}</h5>
						<p class="card-text">{{ article.contents }}</p>
						<a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">En voir plus</a>
					</div>
					<div
						class="card-footer text-muted">{# Il y a deux ans #}
					</div>
				</div>
				<br>
			{% else %}


				<div class="col-6 mt-5">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{ article.title }}</h5>
							<p class="card-text">{{ article.contents }}</p>
							<a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">En voir plus</a>
						</div>
					</div>
				</div>
			{% endif %}
	{% else %}
		</div>

		<tr>
			<td colspan="4">no records found</td>
		</tr>
		{# {% endif %} #}

	{% endfor %}


{% endblock %}