{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Liste Utilisateurs{% endblock %}

{% block body %}
{{parent()}}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h1 class="text-center text-secondary p-4">Liste des articles</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-8 p-4 m-0 text-primary">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Titre</th>
                        
                            <th>Contenu</th>
                            <th>Id de l'utilisateur</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr class="{{ cycle(['table-primary', 'table-secondary'], loop.index0) }}">
                                <td>{{article.title |capitalize }}</td>
                                <td>{{article.contents |capitalize }}</td>
                                <td>{{article.userId |capitalize }}</td>

                               {# <td>{{user.utilisateur |capitalize }}</td>
                                <td>{{user.utilisateur.prenom |capitalize }}</td> #}
                                {# <td><a href="{{path('modifUtilisateur',{'id': user.id})}}" class="text-white"><span class="material-icons" title="Modifier un utilisateur">create</span></a></td> #}
                                {# <td><a href="{{path('suppUtilisateur',{'id': user.id})}}" class="text-white"><span class="material-icons" title="Supprimer un utilisateur"> delete </span></a></td> #}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %} 