{% extends 'base.html.twig' %}

{% block title %}Hello LiaisonController!{% endblock %}

{% block body %}


    <h1>Attribution parrain</h1>

    <div>
        <h2>Parrains</h2>
        <table class="table  ">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Formation</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }} {{ user.firstName }}</td>
                    {#                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
                    <td>{{ user.formation }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Bénéficiaires</h2>
        <table class="table  ">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Formation</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name }} {{ user.firstName }}</td>
                    {#                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
                    <td>{{ user.formation }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
