{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Ajouter un article</h1>

    {# {{ include('article/_form.html.twig') }} #}

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title, 'Titre de l article (*) ', {'label_attr': {'class': 'font-weightbold'}}) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group text-center">
            {{ form_label(form.contents, 'Votre message (*) ', {'label_attr': {'class': 'font-weightbold'}}) }}
            {{ form_widget(form.contents, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group text-center">
            {{ form_label(form.userId, 'Id de l utilisateur (*) ', {'label_attr': {'class': 'font-weightbold'}}) }}
            {{ form_widget(form.userId, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group mx-auto text-center">
            {{ form_widget(form.ajouter, { 'label': "Ajouter", 'attr': {'class': 'btn btn-primary mx-auto text-center'}}) }}
        </div>
    {{ form_end(form) }}

    <a href="{{ path('article_index') }}">Voir la liste des articles</a>
</div>
{% endblock %}
