{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
<div class="text-center">
    {# <h1>Article</h1> #}

    {# <table class="table">
        <tbody>
            <tr>
                <th>Contents</th>
                <td></td>
            </tr>
            <tr>
                <th>Title</th>
                <td></td>
            </tr>
        </tbody>
    </table> #}
    <h1 class="">{{ article.title }}</h1>
    <h4 class="mb-5 mt-5">{{ article.contents }}</h4>

    <div>
        <a href="{{ path('article_index') }}" >Revenir à la liste des articles</a>
    </div>
    <a href="{{ path('article_edit', {'id': article.id}) }}">Modifier l'article</a>

    {{ include('article/_delete_form.html.twig') }}
</div>
{% endblock %}
